<div>
  <p>title: <%= @task.title %></p>
  <p>description: <%= @task.description %></p>
  <p>done: <%= @task.done %></p>
  <p>due date: <%= @task.due_date %></p>
</div>

<ul>
  <li><%= link_to "Edit", edit_task_path(@task) %></li>
  
  <li><%= link_to "Destroy", task_path(@task), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>

  <li><%= link_to "Done", done_task_path(@task), data: {
    turbo_method: :patch,
  } %></li>
</ul>

<%= link_to "Back", tasks_path %>
